* {
    box-sizing: border-box;
}

body {
    background-color: #d6dcd9;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

ul { 
    list-style: none;
    
}

li {
    display: inline;
    padding: 0px 50px
}

#nav {
    text-align: right;
    float: right;
    padding-top: 35px;
}

.content {
    
}
#about-me {
    text-align: center;
}

#projects {
    text-align: center;
    display: flex;
    flex-wrap: wrap
}

#horiseon {
    height: 300px;
    width: 150px;
}

.other {
    height: ;
    width: ;
}

a {
    text-decoration: none;
    color: white;
}
#contact {
    text-align: center;

}

.